sentence-transformers==3.3.1
datasets==3.2.0
openparse[ml]==0.7.0
docling==2.15.1
llmsherpa
marker-pdf==1.2.7
langchain-community==0.3.15
chromacache @ git+https://github.com/Lyon-NLP/chroma_cache
chunknorris @ git+https://github.com/wikit-ai/chunknorris
#codecarbon @ git+https://github.com/MathieuCiancone/codecarbon
codecarbon==3.0.0rc0
pydantic
